body{
  background-image: url("../img/upfeathers.png");
  font-family: 'Josefin Sans', sans-serif;
}
.racoon{
  width: 120px;
}
.btn-primary, .btn-primary:visited{
  background-color: #ECE6DA;
  border-color: #ECE6DA;
  border-radius: 0;
  color: #000000;
  text-align: center;
}
.btn:focus, .btn.active:focus, .btn-primary:hover{
  outline: none !important;
  box-shadow: none !important;
  background-color: #900052 !important;
  border-color: #900052;
  color: #ECE6DA;
  box-shadow: 4px 4px 4px #B90069;
}
.btn-group{
  width: 80%;
  text-align: center;
}
.list-group-item{
  background-color: #ECE6DA;
  border-color: #DB007C;
}
.txt{
  color: #ECE6DA;
  border: none;
}
.form-control, .form-control-inline{
  border-radius: 0;
  border: none;
  background-color: #ECE6DA;
}
.container{
  background-color: #DB007C;
}
#d2{
  display: none;
}
.my-placeholder::-webkit-input-placeholder {
    color: #DC3545;
    font-weight: bold;
 }
